<div class="row">
    <div class="col text-center mt-5 ms-5 me-5">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h3>Dolar Oficial</h3>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h5>Compra: {{listaCotizaciones[0]?.casa?.compra }} </h5>
            <h5>Venta:  {{listaCotizaciones[0]?.casa?.venta }} </h5>
        </div>
    </div>
    <div class="col text-center mt-5 ms-5 me-5">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h3>Dolar Blue</h3>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <h5>Compra: {{listaCotizaciones[1]?.casa?.compra }} </h5>
            <h5>Venta:  {{listaCotizaciones[1]?.casa?.venta }} </h5>
        </div>

    </div>
</div>
