<div class="container text-center mt-4">
    <div class="row align-items-start">
        <div class="col text-center">
          <div class="shadow-lg p-3 mb-3 bg-body rounded">Alta / Modificacion</div>
            <div class="mb-3">
              <form [formGroup]="frmRubros">
                <input hidden formControlName="id">
                <label for="nombreRubro" class="form-label">Nombre del rubro</label>
                <input type="text" class="form-control mb-3" id="nombreRubro" formControlName="nombre" required>
                <button *ngIf="!modificar" class="btn btn-primary" (click)="agregarRubro(frmRubros.value)">Agregar</button>
                <button *ngIf="modificar" class="btn btn-secondary" (click)="modificarRubro(frmRubros.value)">Modificar</button>
                <button class="btn btn-danger" (click)="cancelar()" >Cancelar</button>
              </form>
            </div>
        </div>
        <div class="col">
            <h5 class="shadow-lg p-3 mb-5 bg-body rounded">Rubros</h5>
            <table class="table table-success table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let rubro of rubros">
                    <td hidden>{{rubro.id}}</td>
                    <td>{{rubro.nombre}}</td>
                    <td>
                        <button class="btn btn-primary ml-1" (click)="eliminarRubro(rubro)"><i class="bi-trash"></i></button>
                        <button class="btn btn-primary" (click)="editarRubro(rubro)"><i class="bi-pencil"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>