<h5 class="text-center">Listado de Ingresos por Fecha</h5>

<table class="table table-striped table-bordered border-primary">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Producto</th>
        <th class="text-end">Cantidad</th>
        <th class="text-end">Importe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaIngresos | order: 'fecha'">
        <th>{{item.fecha | date: 'dd-MM-yyyy'}}</th>
        <td>{{item.nombreProducto}} </td>
        <td class="text-end">{{item.cantidadIngreso | number}}</td>
        <td class="text-end">{{item.importeTotal | currency}}</td>
      </tr>
    </tbody>
  </table>