<div class="row mt-2 p2 d-flex align-items-center">
  <div class="col-sm-6">
    <div class="card mt-3 p-4">
      <div class="card-title">
        <div class="input-group mb-3">
          <span class="input-group-text" id="codigoProducto"
            ><i class="bi bi-search"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Código del producto"
            aria-label="codigoProducto"
            aria-describedby="codigoProducto"
            [(ngModel)]="filtroProducto"
            (ngModelChange)="filtroProducto = $event.toUpperCase()"
          />
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Descripción</th>
              <th class="text-end">Precio Venta</th>
              <th class="text-end">Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let prod of productos
                  | order: 'nombre'
                  | filtroNombreProducto: filtroProducto
              "
            >
              <td (click)="expandirProducto(prod)">{{ prod.codigo_barra }}</td>
              <td (click)="expandirProducto(prod)">{{ prod.nombre }}</td>
              <td class="text-end" (click)="expandirProducto(prod)">
                {{ prod.precio_vp | currency: "CAD":"symbol-narrow":"1.2-2" }}
              </td>
              <td class="text-end" (click)="expandirProducto(prod)">
                {{ prod.stock | number: "1.2-2" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="mostrarDatos" class="col sm-6">
    <div class="card">
      <div class="card-title mt-3 text-center">
        <h4>{{ prdID }} - {{ prdNombre }}</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item">
                Precio Venta PESOS:
                {{ prdPVP | currency: "CAD":"symbol-narrow":"1.2-2" }}
              </li>
              <li class="list-group-item">
                Precio Compra PESOS:
                {{ prdPCP | currency: "CAD":"symbol-narrow":"1.2-2" }}
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item">
                Precio Venta DOLARES:
                {{ prdPVD | currency: "CAD":"symbol-narrow":"1.2-2" }}
              </li>
              <li class="list-group-item">
                Precio Compra DOLARES:
                {{ prdPCD | currency: "CAD":"symbol-narrow":"1.2-2" }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item">
                Rubro: {{ prdRubro }}
              </li>
            </ul>
          </div>
          <div class="col">
         
          </div>
        </div>
        <div class="row mt-2">
          <img src="{{prdImagen}}" alt="" width="450">
        </div>
      </div>
    </div>
  </div>
</div>
