<h5 class="text-center">Lista de Productos</h5>
<div class="row input-group">
  <div class="input-group mb-3 ms-2">
    <span class="input-group-text" id="basic-addon1"
      ><i class="bi bi-search"></i
    ></span>
    <input
      type="text"
      name="searchValue"
      id="fecha"
      placeholder="Nombre del producto..."
      class="form-control text-center"
      [(ngModel)]="filtroProducto"
      aria-describedby="basic-addon1"
      (ngModelChange)="filtroProducto = $event.toUpperCase()"
    />
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripción</th>
      <th>Precio Venta</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of productos | filtroNombreProducto: filtroProducto">
      <td>{{ prod.codigo_barra }}</td>
      <td>{{ prod.nombre }}</td>
      <td>{{ prod.precio_vp }}</td>
      <td>{{ prod.stock }}</td>
    </tr>
  </tbody>
</table>
