<div class="container">
  <div class="row text-center">
    <div class="shadow-lg mp-3 mt-3 mb-3 bg-body rounded">
      Ingreso de Mercadería a Depósito
    </div>
    <form [formGroup]="frmIngresos">
      <div class="row">
        <div class="col-sm-3">
          <div class="input-group">
            <label for="fecha" class="form-control">Fecha</label>
            <input type="date" class="form-control" id="fecha" formControlName="fecha"  />
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="input-group">
            <label for="numeroFactura" class="form-control">Referencia Factura</label>
            <input type="text" id="numeroFactura" class="form-control" formControlName="refFactura" />
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-5">
          <label for="nombreProducto" class="form-label">Descripción</label>
          <select name="nombreProducto" id="nombreProducto" formControlName="nombreProducto" class="form-control">
            <option *ngFor="let prod of listaProductos" value="{{prod.nombre}}" class="form-control">{{prod.nombre}} </option>
            
          </select>
          
        </div>
        <div class="col-sm-1">
          <label for="cantidadProducto" class="form-label">Cantidad</label>
          <input type="number" class="form-control" id="cantidadProducto" formControlName="cantidad">
        </div>
        <div class="col-sm-1">
          <label for="precioProducto" class="form-label">Precio</label>
          <input type="number" class="form-control" id="precioProducto" formControlName="precioUnitario" readonly/>
        </div>
        <div class="col-sm-2">
          <label for="subtotalProducto" class="form-label">Subtotal</label>
          <input type="number" class="form-control" id="subtotalProducto" formControlName="importeTotal" readonly/>
        </div>
        <div class="col-sm-1">
          <label for="botonAgregar"> Acciones </label>
          <button id="botonAgregar" (click)="agregarItem(frmIngresos.value)" [disabled]="!frmIngresos.valid" class="btn btn-primary mt-1">
            Agregar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container" *ngIf="hayItems"> 
  <div class="row mt-5">
   <!-- Listado de items que se ingresaron filtrados por la referencia -->
   <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tablaItems">
        <td>{{ item.refFactura }}</td>
        <td>{{ item.nombreProducto }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.precioUnitario | currency: 'CAD':'symbol-narrow':'1.2-2'}}</td>
        <td>{{ item.importeTotal | currency: 'CAD':'symbol-narrow':'1.2-2' }}</td>
      </tr>
    </tbody>

    
  </table>
  <div class="row mt-5 border">
     <p class="text-end fs-5 fw-bold">Total General Ingreso: {{importeTotal | currency: 'CAD':'symbol-narrow':'1.2-2'}} </p>
  </div>
  <div class="row">
    <div class="col-md-12 justify-content-center mt-2">
      <button class="btn btn-primary" (click)="ingresarTotal()">Finalizar Ingreso</button>
    </div>
  </div>
  </div>
</div>
