<div class="row text-center">
  <div class="shadow-lg p-3 mb-3 bg-body rounded">
    Ingreso de Mercadería a Depósito
  </div>
  <form [formGroup]="frmIngresos">
    <div class="row">
      <div class="col-sm-3">
        <div class="input-group date">
          <input type="text" class="form-control" value="12-02-2012">
          <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
          </div>
      </div>
      </div>
    </div>
    <div class="row">

        <div class="col-sm-3">
            <input type="text" class="form-control" formControlName="idProducto" placeholder="escanee el código del producto..." >
        </div>
    </div>
  </form>
</div>
