<div *ngIf="recibido">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item from recibido | keys">
        <td>{{ recibido[item].codigoProducto }}</td>
        <td>{{ recibido[item].nombreProducto }}</td>
        <td>{{ recibido[item].cantidad }}</td>
        <td>{{recibido[item].precioProducto}</td>
        <td>{{ recibido[item].importeTotal }}</td>
      </tr>
    </tbody>
  </table>
</div>
